		/* importing google fonts css*/
		@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:wght@700&family=Poppins:wght@600&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@600&family=Staatliches&family=Ubuntu&display=swap');

		.background-1{
			/* Blurred background image */
			background-image: url('https://images.pexels.com/photos/1124002/pexels-photo-1124002.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			background-size: cover;
			 /* Add the blur effect */
/*  			filter: blur(510px);*/
  			-webkit-filter: blur(50px);
/* 			backdrop-filter: blur(50px);*/
		}

		* {
			margin: 0;
			padding: 0;
  			box-sizing: border-box;
		}

		html{
		
		}

		body{
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow-y: scroll;
		}

		body .album{
			background-color: #D1D1D1;
		}

		html, body{

			font-family: "Poppins";
			font-size: 15px;
			line-height: 2;	
			box-sizing: border-box;
			margin: 0;
			top: 0;
			left: 0;

			/*vertical scrollbar*/
			/* overflow-x: hidden;*/
			
			/*Resizing Browser Window Size*/
			/*min-width: 150px;
			min-height: 150px;*/

			/*In case if blurred background-1 is not working, use original*/
			background-color:#D1D1D1;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;

			/*Locked Image And Scaling*/
			display: block;
		    max-width: 100%;
		    max-height: 100%;
		    width: auto;
		    height: auto;
		}

		.navbar {
			display: flex;
/*			overflow-y: scroll;*/

		}

		.navbar .navbar-brand a{

		}

		.navbar-brand {

			margin-left: 15px;
			font-size: 23.5px;
	
		}

		.navbar-toggler{

		}

		.navbar-toggler span{


		}

		.navbar-toggler span + span{

			/* do not use this, for testing purpose*/
/*			margin-top: 4px;
			width: 18px;
			margin-left: 4px;*/
		}

		.navbar-toggler span + span + span{

			/* do not use this, for testing purpose*/
/*			width: 10px;
			margin-left: 10px;*/
		}

		.navbar-expand-lg .navbar-nav .nav-link{
			margin-left: 1.2px;
			padding: 1.5rem 1.4rem;
			font-size: 1.3rem;
			position: relative;
		}

		.navbar-expand-lg .navbar-nav .nav-link:hover{
			border-bottom: 5px solid #D3D3D3;
			margin-top: -1px;
		}

		.navbar-expand-lg .navbar-nav .nav-link:active{
			border-top: 4px solid #808080;
			color: #D1D1D1;

		}

		.navbar-nav button{

			position: relative;
			display:inline-block;
			padding: 1rem 1.2rem;

		}

		.navbar-nav .btn{

			background-color: yellow;
			color: none;
			border-radius: 25px;
			padding: 0.85rem 1.25rem;
			font-size: 1.2rem;
			text-align:center;
			justify-content: center;

			}

		.navbar-nav .btn:hover{
			background-color: lightgreen;
		}

		.navbar-nav a {
			text-decoration: none;
			font-weight: 500;
		}

		.navbar-nav a:hover {

		}

		.navbar-links ul {
			list-style-type: none;

		}

		.navbar-links li {
			list-style-type: none;
			text-align: center;
		}

		.navbar-links li:hover{
       		transition: top 0.3s;
			background-color: #313131;		
		}

		.navbar-links li a{
			text-decoration: none;
			padding: 1rem 1rem;
			display: block;
		}

		.navbar-links li a:hover{
			color: white;
			background-color: #313131;			
		}

		.wtbl{
			margin-top: 220px;
			margin-left: 90px;
			height: 400px;
		}	

		/*old search bar*/
/*		.search-wrapper{
			display: flex;
			flex-direction: column;
			gap: .25rem;
		}

		input{
			font-size: 1rem;
		}
*/
		.input-box{
			position: relative;
			left: 0;
			top: 0;
			height: 55px;
/*			max-width: 350px;*/
			max-width: 40px;
			width: 100%;
			margin: 0 250px;
			background-color: #fff;
			border-radius: 50px;
			transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			align-items: center;
			justify-content: center;
		}

		.input-box.open{
			left: -270px;
			max-width: 600px;
			text-align:center;
			align-items: center;
			justify-content: center;

		}

		.input-box input{
			position: relative;
			height: 100%;
			width: 100%;
/*			padding: 0 15px 0 65px;*/
			padding: 0 15px;	
			outline: none;
			border: none;
			border-radius: 6px;
			font-size: 16px;
			font-weight: 400;
			color: #333;
			transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}


		.input-box.open input{
			padding: 0 15px 0 65px;
			
		}


		.search .search-icon{
			margin-right: 15px;
			font-size: 30px;
			color: #4070f4;
			transform: rotate(90deg);
			transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

		}

		.input-box-open .search-icon{
			transform: rotate(0deg);

		}


		.input-box .search{
			position: absolute;
			left: 15px;
			top: 0;
			height: 100%;
			width: 60px;
/*			border-radius: 6px 0 0 6px;*/
			border-radius: 6px;

			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);


		}

		.input-box.open .search{
			left: 5px;
			border-radius: 50px 0 0 50px;
		}

		.input-box .close-icon{
			position: absolute;
			right: -45px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 30px;
			color: #333;
			padding: 5px;
			transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			opacity: 0;
			pointer-events: none;

		}


		.input-box.open .close-icon{
			opacity: 1;
			pointer-events: auto;
			transform: translateY(-50%) rotate(180deg);

		}



			.card {
				background: #fff;
				opacity: 1.0;
				border: 5px solid black;
				padding: .5rem;
				overflow: hidden;
			}



			.card:hover{
				background-color: rgb(165,167,168);
				background-color: linear-gradient(90deg, rgba(165,167,168,0.7570378493194152) 0%, rgba(255,255,255,1) 100%);
				transition: 1.3s ease;
				
			}

			.card img{
				object-fit: cover;
				transition: all 1.3s ease;
			}

			.card img:hover{
				transform:scale(1.1);
				color: transparent;
			}

			.card img:hover {
				opacity: 1;
			}


		h2 {
			font-family: Prompt;
			font-style: bold;
			font-size: 100px;
			text-align: center;
			align-items: center;
			justify-content: center;
			font-weight: 800;
		}

		h1 {
			font-family: Prompt;
			font-style: bold;
			line-height: 1;
			font-size: 105px;
			text-align: left;
			word-spacing: none;
			font-weight: 800;
		}

		.btn {
			right: 0;
		}

		.container .row .col{
			margin-bottom: 35px;
		}

		@media screen and (min-width: 500px){

			.navbar-nav button{

				position: relative;
				display:inline-block;
				padding: 1rem 1.2rem;

			}

			h1{
				font-size: 55px;
				color: #4D9CEC;
				margin-top: -15px;
				margin-right: 50px;
				text-align: center;
			}
			h2{
				font-size: 55px;
				margin-top: -65px;
				margin-right: 50px;
				text-align: center;
			}
		}

		@media screen and (mix-width: 525px){

			.navbar-nav button{

				position: relative;
				display:inline-block;
				padding: 1rem 1.2rem;

			}
			h1{
				font-size: 60px;
				color: #4D9CEC;
				margin-top: -15px;
				margin-right: 50px;
				text-align: center;
			}
			h2{
				font-size: 60px;
				margin-top: -65px;
				margin-right: 50px;
				text-align: center;
			}
		}

		@media screen and (min-width: 570px){
			.navbar-nav button{

				position: relative;
				display:inline-block;
				padding: 1rem 1.2rem;

			}

			h1{
				font-size: 70px;
				color: #4D9CEC;
				margin-top: -15px;
				margin-right: 50px;
				text-align: center;
			}
			h2{
				font-size: 70px;
				margin-top: -65px;
				margin-right: 50px;
				text-align: center;
			}
		}


		@media screen and (min-width: 600px){

			.navbar-nav button{

				position: relative;
				display:inline-block;
				padding: 1rem 1.2rem;

			}

			h1{
				font-size: 75px;
				color: #fff;
				margin-top: -15px;
				margin-right: 50px;
				text-align: center;
			}
			h2{
				font-size: 75px;
				margin-top: -65px;
				margin-right: 50px;
				text-align: center;
			}
		}

		@media screen and (min-width: 800px){

			.navbar-nav button{

				position: relative;
				display:inline-block;
				padding: 1rem 1.2rem;

			}

			h1{
				font-size: 85px;
				color: #fff;
				margin-top: -15px;
				margin-right: 50px;
				text-align: center;
			}
			h2{
				color: #fff;
				font-size: 85px;
				margin-top: -65px;
				margin-right: 50px;
				text-align: center;
			}
		}
	
		@media screen and (min-width: 900px){

			h1{
				font-size: 95px;
				color: #fff;
				margin-top: -25px;
				margin-right: 50px;
				text-align: center;
			}
			h2{
				color: #fff;
				font-size: 95px;
				margin-top: 05px;
				margin-right: 50px;
				text-align: center;
			}
		}
	
		@media screen and (min-width: 990px){
			.navbar-links li {
				display: show;
			}		

			.navbar-nav button {
				display: none;
			}		

			.navbar-nav .btn{
				display: none;

			}
			
			h1{
				font-size: 105px;
				color: #fff;
				margin-top: -25px;
				margin-right: 50px;
				text-align: center;
			}
			h2{
				color: #fff;
				font-size: 105px;
				margin-top: 05px;
				margin-right: 50px;
				text-align: center;
			}
		}
		@media screen and (min-width: 1070px){
			.navbar-links li {
				display: show;
			}		

			.navbar-nav button {
		
			}		

			.navbar-nav .btn{

			}

			.wtbl{
				margin-top: 220px;

			}

			h1{
				font-size: 105px;
				color: #fff;
				margin-top: -25px;
				margin-right: 50px;
				text-align: center;
			}
			h2{
				color: #fff;
				font-size: 105px;
				margin-top: 05px;
				margin-right: 50px;
				text-align: center;
			}
		}


		@media screen and (min-width: 1224){

			.navbar-nav button{

				position: absolute;
				display:inline-block;
				padding: 1rem 1.2rem;
				margin-top: -27px;
	

			}

			.navbar-links li {
				display: show;
			}		


			.navbar-nav .btn{
				display: block;

			}

			.wtbl{
				margin-top: 220px;
				margin-left: 90px;
				height: 400px;
			}
			
			h2 {
				color: #353536;
				font-family: Prompt;
				font-style: bold;
				font-size: 105px;
				text-align: left;
				font-weight: 800;
			}

			h1 {
				font-family: Prompt;
				font-style: bold;
				line-height: 1;
				font-size: 105px;
				text-align: left;
				word-spacing: none;
				font-weight: 800;
			}
		}

		@media screen and (min-width: 1226px){

			.navbar-nav button{

				position: absolute;
				display:inline-block;
				padding: 1rem 1.2rem;
				margin-top: -27px;
		

			}

			.navbar-links li {
				display: show;
			}		


			.navbar-nav .btn{
				display: block;

			}

			.wtbl{
				margin-top: 220px;
				margin-left: 90px;
				height: 400px;
			}
			
			h2 {
				color: #353536;
				font-family: Prompt;
				font-style: bold;
				font-size: 105px;
				text-align: left;
				font-weight: 800;
			}

			h1 {
				font-family: Prompt;
				font-style: bold;
				line-height: 1;
				font-size: 105px;
				text-align: left;
				word-spacing: none;
				font-weight: 800;
			}
		}

		@media screen and (min-width: 1250px){

			.navbar-links li {
				display: show;
			}		

			.navbar-nav button {

			}		

			.navbar-nav .btn{
				display: block;

			}

			.wtbl{
				margin-top: 220px;
				margin-left: 90px;
				height: 400px;
			}

			h2 {
				font-family: Prompt;
				font-style: bold;
				font-size: 105px;
				text-align: left;
				font-weight: 800;
			}

			h1 {
				font-family: Prompt;
				font-style: bold;
				line-height: 1;
				font-size: 105px;
				text-align: left;
				word-spacing: none;
				font-weight: 800;
			}
		}


		@media screen and (min-width: 1350px){
	
			.wtbl{
				margin-top: 220px;
				margin-left: 90px;
				height: 400px;
			}

			h2 {
				color: #353536;
				font-family: Prompt;
				font-style: bold;
				font-size: 105px;
				text-align: left;
				font-weight: 800;
			}

			h1 {
				color: #353536;
				font-family: Prompt;
				font-style: bold;
				line-height: 1;
				font-size: 105px;
				text-align: left;
				word-spacing: none;
				font-weight: 800;
			}



		    h5{
				margin-top: 10px;
				font-style:oblique;

			}

			main{
				background: rgb(72,72,73);
				background: linear-gradient(90deg, rgba(72,72,73,1) 0%, rgba(137,144,145,0.4797269249496674) 50%, rgba(98,98,98,1) 100%);
			}

			
			.btn_View1{
				background: rgb(165,167,168);
				background: linear-gradient(90deg, rgba(165,167,168,0.7570378493194152) 0%, rgba(255,255,255,1) 100%);
				color: #313131;
			}

			.btn_View1:hover{
				transition: 1.3s ease;
				transform: translate(-10%,-5%);
				font-style: italic;
				box-shadow: 5px 5px 2px #313131;
				background: rgb(165,167,168);
				background: linear-gradient(90deg, rgba(165,167,168,0.7570378493194152) 0%, rgba(255,255,255,1) 100%);
			}

			.fw-normal{
				margin-top: 50px;
			}
				
			.btn{
				margin-right: 10px;
				margin-left: 10px;
			}
		
			.fw-bold{
				text-align: center;
				display: flex;
		}
	}


