/*If there are no such fonts on internal CSS, then can refer this font!*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:wght@700&family=Poppins:wght@600&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@600&family=Staatliches&family=Ubuntu&display=swap');

/*
html, body{

	font-family: "Poppins";
	font-size: 15px;
	line-height: 2;	
	box-sizing: border-box;
	margin: 0;
	top: 0;
	left: 0;*/

	/*vertical scrollbar*/
	/* overflow-x: hidden;*/

	/*Resizing Browser Window Size*/
	/*min-width: 150px;
	min-height: 150px;*/

	/*In case if blurred background-1 is not working, use original*/
/*	background-image: url('img/pet1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	/*Locked Image And Scaling*/
/*	display: block;
	 max-width: 100%;
	 max-height: 100%;
	 width: auto;
	 height: auto;
}*/